<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [17]:
!pip install  sqlalchemy
! pip install pyodbc
#! pip install --upgrade sqlalchemy
#! pip install --upgrade  pandas==1.1.5

Collecting sqlalchemy==1.4.36
  Downloading SQLAlchemy-1.4.36.tar.gz (8.1 MB)
     ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
     ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
     ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
     ---------------------------------------- 0.0/8.1 MB 217.9 kB/s eta 0:00:38
     ---------------------------------------- 0.0/8.1 MB 196.9 kB/s eta 0:00:42
      --------------------------------------- 0.1/8.1 MB 504.4 kB/s eta 0:00:16
      --------------------------------------- 0.2/8.1 MB 787.7 kB/s eta 0:00:11
     - -------------------------------------- 0.3/8.1 MB 850.6 kB/s eta 0:00:10
     - -------------------------------------- 0.4/8.1 MB 1.1 MB/s eta 0:00:08
     -- ------------------------------------- 0.6/8.1 MB 1.4 MB/s eta 0:00:06
     --- ------------------------------------ 0.7/8.1 MB 1.5 MB/s eta 0:00:05
     ---- ----------------------------------- 0.8/8.1 MB 1.7 MB/s eta 0:00:05
     ---- ----------------------------------- 1.0/8.1 MB 1.8 MB/s eta 0:00:05
     ----- ---------------------------------- 1.1/8.1 MB 2.0 MB/s eta 0:00:04
     ------ --------------------------------- 1.3/8.1 MB 2.0 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.1 MB 2.0 MB/s eta 0:00:04
     ------- -------------------------------- 1.5/8.1 MB 2.1 MB/s eta 0:00:04
     ------- -------------------------------- 1.6/8.1 MB 2.1 MB/s eta 0:00:04
     -------- ------------------------------- 1.7/8.1 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 1.9/8.1 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.1/8.1 MB 2.3 MB/s eta 0:00:03
     ---------- ----------------------------- 2.2/8.1 MB 2.3 MB/s eta 0:00:03
     ----------- ---------------------------- 2.3/8.1 MB 2.3 MB/s eta 0:00:03
     ------------ --------------------------- 2.4/8.1 MB 2.3 MB/s eta 0:00:03
     ------------ --------------------------- 2.5/8.1 MB 2.3 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.1 MB 2.3 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.1 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.8/8.1 MB 2.3 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/8.1 MB 2.4 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/8.1 MB 2.4 MB/s eta 0:00:03
     ---------------- ----------------------- 3.3/8.1 MB 2.4 MB/s eta 0:00:02
     ---------------- ----------------------- 3.4/8.1 MB 2.4 MB/s eta 0:00:02
     ----------------- ---------------------- 3.5/8.1 MB 2.4 MB/s eta 0:00:02
     ------------------ --------------------- 3.7/8.1 MB 2.5 MB/s eta 0:00:02
     ------------------ --------------------- 3.8/8.1 MB 2.5 MB/s eta 0:00:02
     ------------------- -------------------- 4.0/8.1 MB 2.5 MB/s eta 0:00:02
     -------------------- ------------------- 4.2/8.1 MB 2.6 MB/s eta 0:00:02
     --------------------- ------------------ 4.4/8.1 MB 2.6 MB/s eta 0:00:02
     --------------------- ------------------ 4.5/8.1 MB 2.6 MB/s eta 0:00:02
     ---------------------- ----------------- 4.6/8.1 MB 2.6 MB/s eta 0:00:02
     ----------------------- ---------------- 4.7/8.1 MB 2.6 MB/s eta 0:00:02
     ----------------------- ---------------- 4.8/8.1 MB 2.6 MB/s eta 0:00:02
     ----------------------- ---------------- 4.9/8.1 MB 2.5 MB/s eta 0:00:02
     ------------------------ --------------- 5.0/8.1 MB 2.5 MB/s eta 0:00:02
     ------------------------- -------------- 5.1/8.1 MB 2.5 MB/s eta 0:00:02
     ------------------------- -------------- 5.2/8.1 MB 2.5 MB/s eta 0:00:02
     ------------------------- -------------- 5.3/8.1 MB 2.5 MB/s eta 0:00:02
     -------------------------- ------------- 5.4/8.1 MB 2.5 MB/s eta 0:00:02
     --------------------------- ------------ 5.5/8.1 MB 2.5 MB/s eta 0:00:02
     --------------------------- ------------ 5.7/8.1 MB 2.6 MB/s eta 0:00:01
     ---------------------------- ----------- 5.9/8.1 MB 2.6 MB/s eta 0:00:01
     ----------------------------- ---------- 5.9/8.1 MB 2.6 MB/s eta 0:00:01
     ----------------------------- ---------- 5.9/8.1 MB 2.6 MB/s eta 0:00:01
     ----------------------------- ---------- 6.0/8.1 MB 2.5 MB/s eta 0:00:01
     ----------------------------- ---------- 6.0/8.1 MB 2.4 MB/s eta 0:00:01
     ----------------------------- ---------- 6.1/8.1 MB 2.4 MB/s eta 0:00:01
     ------------------------------ --------- 6.2/8.1 MB 2.4 MB/s eta 0:00:01
     ------------------------------- -------- 6.3/8.1 MB 2.4 MB/s eta 0:00:01
     ------------------------------- -------- 6.5/8.1 MB 2.4 MB/s eta 0:00:01
     -------------------------------- ------- 6.6/8.1 MB 2.4 MB/s eta 0:00:01
     -------------------------------- ------- 6.7/8.1 MB 2.4 MB/s eta 0:00:01
     --------------------------------- ------ 6.8/8.1 MB 2.5 MB/s eta 0:00:01
     ---------------------------------- ----- 7.0/8.1 MB 2.5 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.1 MB 2.5 MB/s eta 0:00:01
     ----------------------------------- ---- 7.3/8.1 MB 2.5 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.1 MB 2.5 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.1 MB 2.5 MB/s eta 0:00:01
     -------------------------------------- - 7.9/8.1 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------  8.0/8.1 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------  8.1/8.1 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 8.1/8.1 MB 2.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: greenlet!=0.4.17 in c:\users\buluk\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy==1.4.36) (3.0.3)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.36-cp312-cp312-win_amd64.whl size=1523477 sha256=3d107260cf4c96a6c5ae7ba81a1df34cbd5ebdcf8099e679047234da65d71c76
  Stored in directory: c:\users\buluk\appdata\local\pip\cache\wheels\81\e1\26\e6802b0d70b3add055708fc1a90df8c72723de92a3854c6d86
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.26
    Uninstalling SQLAlchemy-2.0.26:
      Successfully uninstalled SQLAlchemy-2.0.26
Successfully installed sqlalchemy-1.4.36

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

### I Solved this exercie using SQL Server database installed on my local maching

In [1]:
#%load_ext sql
from sqlalchemy import create_engine, VARCHAR, INT, DATE, TIME
#connection_string = "mssql+pyodbc://<your_username>:<your_password>@<your_server>/<your_database>?driver=ODBC+Driver+17+for+SQL+Server"
#beucse we are using Windows Authentication to connect to your SQL Server, you can specify the Trusted_Connection parameter in your connection string. 
# Replace <your_server> and <your_database> with your SQL Server information
#connection_string = "mssql+pyodbc://@<your_server>/<your_database>?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
connection_string = "mssql+pyodbc://@DESKTOP-GR4L02L\\SQLEXPRESS/model?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
con = create_engine(connection_string)

# Establish a connection to the SQL Server database
connection = con.connect()

In [30]:
# Create a table in SQL Server
import pandas as pd
dtype = {
   'Date': DATE(),
    'Time (UTC)': TIME(),
    'Booster_Version': VARCHAR(50),
    'Launch_Site': VARCHAR(50),
    'Payload': VARCHAR(100),
    'PAYLOAD_MASS__KG_': INT(),
    'Orbit': VARCHAR(50),
    'Customer': VARCHAR(100),
    'Mission_Outcome': VARCHAR(50),
    'Landing_Outcome': VARCHAR(100)
}

In [36]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df = df.rename(columns={
    'Date': 'Date',
    'Time (UTC)': 'Time',
    'Booster_Version': 'BoosterVersion',
    'Launch_Site': 'LaunchSite',
    'Payload': 'Payload',
    'PAYLOAD_MASS__KG_': 'PayloadMassKG',
    'Orbit': 'Orbit',
    'Customer': 'Customer',
    'Mission_Outcome': 'MissionOutcome',
    'Landing_Outcome': 'LandingOutcome'
})
df.to_sql('SPACEXTBL', con=con, if_exists='replace', index=False, method="multi", dtype=dtype)

101

**Note:This below code is added to remove blank rows from table**

In [37]:
#%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null
create_as_select = '''
SELECT * INTO SPACEXTABLE FROM SPACEXTBL WHERE Date IS NOT NULL;
'''

# Execute the create table query
con.execute(create_as_select)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [39]:
select_table_query = '''
SELECT DISTINCT LaunchSite
FROM SPACEXTBL;
'''

# Execute the create table query
df = pd.read_sql_query(select_table_query, con)

# Display the DataFrame
print(df)

     LaunchSite
0   CCAFS LC-40
1  CCAFS SLC-40
2    KSC LC-39A
3   VAFB SLC-4E


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [40]:

Start_with_KSC = '''
        SELECT top 5 *
        FROM SPACEXTBL
        WHERE LaunchSite LIKE 'KSC%';
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(Start_with_KSC, con)

# Display the DataFrame
print(df)

         Date      Time  BoosterVersion  LaunchSite        Payload  \
0  2017-02-19  14:39:00   F9 FT B1031.1  KSC LC-39A  SpaceX CRS-10
1  2017-03-16   6:00:00     F9 FT B1030  KSC LC-39A    EchoStar 23
2  2017-03-30  22:27:00  F9 FT  B1021.2  KSC LC-39A         SES-10
3  2017-05-01  11:15:00   F9 FT B1032.1  KSC LC-39A        NROL-76
4  2017-05-15  23:21:00     F9 FT B1034  KSC LC-39A  Inmarsat-5 F4

   PayloadMassKG      Orbit    Customer MissionOutcome        LandingOutcome
0           2490  LEO (ISS)  NASA (CRS)        Success  Success (ground pad)
1           5600        GTO    EchoStar        Success            No attempt
2           5300        GTO         SES        Success  Success (drone ship)
3           5300        LEO         NRO        Success  Success (ground pad)
4           6070        GTO    Inmarsat        Success            No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [41]:
NASA_CRS = '''
        SELECT SUM(PayloadMassKG) AS Total_PayloadMass
        FROM SPACEXTBL
        WHERE Customer = 'NASA (CRS)'
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(NASA_CRS, con)

# Display the DataFrame
print(df)

   Total_PayloadMass
0              45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [42]:
avg_booster = '''
        SELECT avg(PayloadMassKG) as Avg_PayloadMass
        FROM SPACEXTBL
        WHERE BoosterVersion = 'F9 v1.1';
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(avg_booster, con)

# Display the DataFrame
print(df)

   Avg_PayloadMass
0             2928

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [43]:
seccussful_landing_date  = '''
         SELECT MIN(Date) AS FirstSuccessfull_landing_date
        FROM SPACEXTBL
        WHERE LandingOutcome = 'Success (ground pad)';
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(seccussful_landing_date, con)

# Display the DataFrame
print(df)

  FirstSuccessfull_landing_date
0                    2015-12-22

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [44]:
BoosterVersion_name = '''
       SELECT BoosterVersion
        FROM SPACEXTBL
        WHERE LandingOutcome = 'Success (drone ship)'
            AND PayloadMassKG between 4000 and 6000;
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(BoosterVersion_name, con)

# Display the DataFrame
print(df)

   BoosterVersion
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [46]:
missionOutcomeRate = '''
        select (SELECT COUNT(MissionOutcome) AS SuccessOutcome
        FROM SPACEXTBL
        WHERE MissionOutcome LIKE 'Success%')SuccessOutcome , 
        (SELECT COUNT(MissionOutcome) AS FailureOutcome
        FROM SPACEXTBL
        WHERE MissionOutcome LIKE 'Failure%')FailureOutcome;
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(missionOutcomeRate, con)

# Display the DataFrame
print(df)

   SuccessOutcome  FailureOutcome
0             100               1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [51]:

mae_of_max_payload = '''
         SELECT BoosterVersion,PayloadMassKG
        FROM SPACEXTBL
        WHERE PayloadMassKG = (
                                SELECT MAX(PayloadMassKG)
                                FROM SPACEXTBL
                                )
        ORDER BY BoosterVersion;
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(mae_of_max_payload, con)

# Display the DataFrame
print(df)

    BoosterVersion  PayloadMassKG
0    F9 B5 B1048.4          15600
1    F9 B5 B1048.5          15600
2    F9 B5 B1049.4          15600
3    F9 B5 B1049.5          15600
4   F9 B5 B1049.7           15600
5    F9 B5 B1051.3          15600
6    F9 B5 B1051.4          15600
7    F9 B5 B1051.6          15600
8    F9 B5 B1056.4          15600
9   F9 B5 B1058.3           15600
10  F9 B5 B1060.2           15600
11   F9 B5 B1060.3          15600

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [53]:
order_by_month = '''
        SELECT YEAR(Date) as Year , month(Date) as Month,BoosterVersion, LaunchSite, LandingOutcome
        FROM SPACEXTBL
        WHERE LandingOutcome = 'Success (ground pad)'
        AND YEAR(Date) = '2017'
		order by month(Date);
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(order_by_month, con)

# Display the DataFrame
print(df)

   Year  Month  BoosterVersion    LaunchSite        LandingOutcome
0  2017      2   F9 FT B1031.1    KSC LC-39A  Success (ground pad)
1  2017      5   F9 FT B1032.1    KSC LC-39A  Success (ground pad)
2  2017      6   F9 FT B1035.1    KSC LC-39A  Success (ground pad)
3  2017      8   F9 B4 B1039.1    KSC LC-39A  Success (ground pad)
4  2017      9   F9 B4 B1040.1    KSC LC-39A  Success (ground pad)
5  2017     12  F9 FT  B1035.2  CCAFS SLC-40  Success (ground pad)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [56]:
select_table_query = '''
        SELECT LandingOutcome, COUNT(LandingOutcome)
        FROM SPACEXTBL
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY LandingOutcome
        ORDER BY COUNT(LandingOutcome) DESC;
        '''
# Execute the SQL query and create a DataFrame
df = pd.read_sql_query(select_table_query, con)

# Display the DataFrame
print(df)

           LandingOutcome
0              No attempt  10
1    Failure (drone ship)   5
2    Success (drone ship)   5
3    Success (ground pad)   3
4      Controlled (ocean)   3
5    Uncontrolled (ocean)   2
6     Failure (parachute)   2
7  Precluded (drone ship)   1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>